@{
    ViewData["Title"] = "Om Spelet";
}
<h2>@ViewData["Title"]</h2>

@{ 
    string[] outerlist = ViewData["Message"].ToString().Split("|");
}

<html>
<body>
    <ul>
    @foreach (var x in outerlist)
    {
        string[] list = x.Split("*");
        <h1>@list[0]</h1>
        <ul style="list-style-type:square;">
            @foreach (var y in list)
            {
                if (y == list[0]) { }
                else
                {
                    <li>@y</li>
                }
            }
        </ul>
    }
</body>
</html>

<p>Ha så kul</p>
