@{
    ViewData["Title"] = "Team";
}

<!-- Content -->
<header class="masthead p-5 text-center text-white">
    <div class="masthead-content">
        <div class="container">
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="align-items-center">
            <div class="p-5 text-center m-auto">
                <h1>Team behind this game</h1>
            </div>
            <div class="p-5 text-center m-auto">
                <p>A</p>
                <p>B</p>
            </div>
        </div>
    </div>
</section>