
@{
    ViewData["Title"] = "_HomeLayout";
}
<head>
    <link href="~/css/homestyle.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <h1>Ludogame</h1>
    
    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/ludo/newgame">New Game</a></li>
            <li><a href="/ludo/joingame">Join Game</a></li>
            <li><a href="/ludo/rules">Rules</a></li>
        </ul>
    </div>
</body>

@RenderBody()

