body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

* {
    box-sizing:unset;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6a00), to(#ee0979));
  background: linear-gradient(0deg, #006eff 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(0deg, #d61f1f 0%, #ee6767 100%);
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(0deg, #43b110 0%, #67cc59 100%);
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(0deg, #1f59d6 0%, #678bee 100%);
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(0deg, #d3d61f 0%, #eee067 100%);
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }

  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #6106b6b4 !important;
}

.btn-primary {
  background-color: #6106b6b4;
  border-color: #6106b6b4;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #6106b648 !important;
  border-color: #6106b648 !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #06b66db4;
  border-color: #06b66db4;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #06b68a48 !important;
  border-color: #06b68a48 !important;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.search {
  background-color: #f9f9f9;
  border-radius: 20px;
  border: 1px solid #dadada;
  padding: .375rem .75rem;
  outline: none;
  vertical-align: middle;
}

.player1, .Red {
  color: #d61f1f;
}

.player1 .fa-circle, .Red .fa-circle {
  background: linear-gradient(0deg, #d61f1f 0%, #ee6767 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player2, .Green {
  color: #43b110;
}

.player2 .fa-circle, .Green .fa-circle {
  background: linear-gradient(0deg, #43b110 0%, #67cc59 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player3, .Blue {
  color: #1f59d6;
}

.player3 .fa-circle, .Blue .fa-circle {
  background: linear-gradient(0deg, #1f59d6 0%, #678bee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player4, .Yellow {
  color: #d3d61f;
}

.player4 .fa-circle, .Yellow .fa-circle {
  background: linear-gradient(0deg, #d3d61f 0%, #eee067 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* BOARD */

.grid-container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-template-areas: "C41 C42 . B31 B32 B1 . C11 C12" "C43 C44 . B30 W11 B2 . C13 C14" ". . . B29 W12 B3 . . ." "B25 B26 B27 B28 W13 B4 B5 B6 B7" "B24 W41 W42 W43 WINNER W23 W22 W21 B8" "B23 B22 B21 B20 W33 B12 B11 B10 B9" ". . . B19 W32 B13 . . ." "C31 C32 . B18 W31 B14 . C21 C22" "C33 C34 . B17 B16 B15 . C23 C24";
  grid-gap: 3px;
}

.grid-container>div {
  align-self: center; width: 60px; height: 60px;
}

.C41 { grid-area: C41;  }

.C42 { grid-area: C42;  }

.C43 { grid-area: C43;  }

.C44 { grid-area: C44;  }

.C11 { grid-area: C11;  }

.C12 { grid-area: C12;  }

.C13 { grid-area: C13;  }

.C14 { grid-area: C14;  }

.B1 { grid-area: B1; background-color: wheat;  }

.B2 { grid-area: B2; background-color: wheat;  }

.B3 { grid-area: B3; background-color: wheat;  }

.B4 { grid-area: B4; background-color: wheat;  }

.B5 { grid-area: B5; background-color: wheat;  }

.B6 { grid-area: B6; background-color: wheat;  }

.B7 { grid-area: B7; background-color: wheat;  }

.B8 { grid-area: B8; background-color: wheat;  }

.B9 { grid-area: B9; background-color: wheat;  }

.B10 { grid-area: B10; background-color: wheat;  }

.B11 { grid-area: B11; background-color: wheat;  }

.B12 { grid-area: B12; background-color: wheat;  }

.B13 { grid-area: B13; background-color: wheat;  }

.B14 { grid-area: B14; background-color: wheat;  }

.B15 { grid-area: B15; background-color: wheat;  }

.B16 { grid-area: B16; background-color: wheat;  }

.B17 { grid-area: B17; background-color: wheat;  }

.B18 { grid-area: B18; background-color: wheat;  }

.B19 { grid-area: B19; background-color: wheat;  }

.B20 { grid-area: B20; background-color: wheat;  }

.B21 { grid-area: B21; background-color: wheat;  }

.B22 { grid-area: B22; background-color: wheat;  }

.B23 { grid-area: B23; background-color: wheat;  }

.B24 { grid-area: B24; background-color: wheat;  }

.B25 { grid-area: B25; background-color: wheat;  }

.B26 { grid-area: B26; background-color: wheat;  }

.B27 { grid-area: B27; background-color: wheat;  }

.B28 { grid-area: B28; background-color: wheat;  }

.B29 { grid-area: B29; background-color: wheat;  }

.B30 { grid-area: B30; background-color: wheat;  }

.B31 { grid-area: B31; background-color: wheat;  }

.B32 { grid-area: B32; background-color: wheat;  }

.W11 { grid-area: W11;  }

.W12 { grid-area: W12;  }

.W13 { grid-area: W13;  }

.WINNER { grid-area: WINNER;  }

.W21 { grid-area: W21;  }

.W22 { grid-area: W22;  }

.W23 { grid-area: W23;  }

.W31 { grid-area: W31;  }

.W32 { grid-area: W32;  }

.W33 { grid-area: W33;  }

.W41 { grid-area: W41;  }

.W42 { grid-area: W42;  }

.W43 { grid-area: W43;  }

.C21 { grid-area: C21;  }

.C22 { grid-area: C22;  }

.C23 { grid-area: C23;  }

.C24 { grid-area: C24;  }

.C31 { grid-area: C31;  }

.C32 { grid-area: C32;  }

.C33 { grid-area: C33;  }

.C34 { grid-area: C34;  }


.buttons-area {
    width: auto;
    float: right;
    text-align: center;
    padding-top: 50px;
    padding-right: 50px;
}

.text-representation {
    width: 343px;
    float: right;
    border-color: black;
    border: double;
}

.text-representation .innerText0{
    background-color:RGBA(214,31,31,0.6);
    align-items: inherit;
    text-align: center;
    float: left;
    border-color: black;
    border: inset;
    margin: 4px;
    padding: 10px;
}

.text-representation .innerText1{
    background-color:RGBA(67,177,16,0.6);
    align-items: inherit;
    text-align: center;
    float: left;
    border-color: black;
    border: inset;
    margin: 4px;
    padding: 10px;
}

.text-representation .innerText2{
    background-color:RGBA(31,89,214,0.6);
    align-items: inherit;
    text-align: center;
    float: left;
    border-color: black;
    border: inset;
    margin: 4px;
    padding: 10px;
}

.text-representation .innerText3{
    background-color:RGBA(211,214,31,0.6);
    align-items: inherit;
    text-align: center;
    float: left;
    border-color: black;
    border: inset;
    margin: 4px;
    padding: 10px;
}