
@{
    ViewData["Title"] = "Index";
    Layout = "_HomeLayout";
}

<h1>Home</h1>
<p>
    Ludo is a strategy board game for two to four[a] players, in which<br />
    the players race their four tokens from start to finish according to<br />
    the rolls of a single die. Like other cross and circle games, Ludo is<br />
    derived from the Indian game Pachisi, but simpler. The game and its<br />
    variations are popular in many countries and under various names.<br />
</p>