@{
    ViewData["Title"] = "Index";
    Layout = "_HomeLayout";
}

<head>
    <title>Home</title>
</head>
<body>
    <header id="play" class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Ludo Get</h1>
                <h2 class="masthead-subheading mb-0">Play together with friends!</h2>
                <a href="/ludo/newgame" class="btn btn-primary btn-xl rounded-pill mt-5">Play now!</a>
            </div>
        </div>
        <div class="bg-circle-1"></div>
        <div class="bg-circle-2"></div>
        <div class="bg-circle-3"></div>
        <div class="bg-circle-4"></div>
    </header>
</body>