
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">

    <h1 class="display-4">LUDOMUS MAXIMUS x2000</h1>
    <a class="button" href="/ludo/newgame">New Game!       </a> <a class="button" href="/ludo/joingame">       Join Game!</a>

</div>