@*@model WebAppMVC.Models.CreateGameModel
@{
    ViewData["Title"] = "Joingame";
    Layout = "_HomeLayout";
}
<head>
    <title>Join game</title>
</head>
<body>
     Content 
    <header class="masthead p-5 text-center text-white">
        <div class="masthead-content">
            <div class="container">
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <div class="text-center p-5">
        <form asp-action="SelectGame" asp-controller="Ludo">
            <div>
                <label asp-for="GameId"></label>
                <select asp-for="GameId">
                    @foreach (var game in @ViewBag.games)
                    {
                        {
                            <option value="@game.Key">@game.Key</option>
                        }
                    }
                </select>
            </div>
            <div>
                <label asp-for="PlayerName"></label>
                <input class="search rounded-pill" asp-for="PlayerName" type="text" />
            </div>
            <div>
                <label asp-for="PlayerColor"></label>
                <select asp-for="PlayerColor">
                    <option value="0">Red</option>
                    <option value="1">Green</option>
                    <option value="2">Blue</option>
                    <option value="3">Yellow</option>
                </select>
            </div>
            <input class="btn btn-secondary rounded-pill" type="submit" value="Join Game" />
        </form>
    </div>
</body>*@