
@{
    ViewData["Title"] = "Lobby";
    Layout = "_HomeLayout";
}

<head>
    <title>Lobby</title>
</head>
<body>
    <h1>Lobby</h1>
    <p>Game ID: @ViewBag.gameid</p>
    <p>Player: @ViewBag.playername</p>
    
</body>