@model WebAppMVC.Models.PlayerModelContainer
@{
    ViewData["Title"] = "Lobby";
    Layout = "_HomeLayout";
}

<head>
    <title>Lobby</title>
</head>
<body>
    <h1>Lobby</h1>
    @if (ViewBag.message != null)
    {
        <p>@ViewBag.message</p>
    }
    else
    {
        <h5>Players in game: @ViewBag.gameid</h5>
        foreach(PlayerModel player in Model.Players)
        {
            <p>@player.Name</p>
        }
    }
</body>