@model WebAppMVC.Models.CreateGameModel;
@{
    ViewData["Title"] = "Lobby";
    Layout = "_HomeLayout";
}

<head>
    <title>Lobby</title>
</head>
<body>
    <h1>Lobby</h1>
    <p id="Playername">@Model.PlayerName</p>
    <p id="Playercolor">@Model.PlayerColor</p>
    <p id="GameID">@Model.GameId</p>
</body>