@model WebAppMVC.Models.CreateGameModel
@{
    ViewData["Title"] = "Newgame";
    Layout = "_HomeLayout";
}

<head>
    <title>New game</title>
</head>
<body>
    <div class="text-center">
        <p>this is a test</p>


        <form asp-action="CreateGame" asp-controller="Ludo">
            <div>
                <label asp-for="PlayerName"></label>
                <input asp-for="PlayerName" type="text" placeholder="Please enter your name" />
            </div>
            <div>

                <label asp-for="PlayerColor"></label>
                <select asp-for="PlayerColor">
                    <option value="0">Red</option>
                    <option value="1">Green</option>
                    <option value="2">Blue</option>
                    <option value="3">Yellow</option>
                </select>
            </div>
            <input id="newGameButton" type="submit" class="button" value="New Game" />
        </form>
    </div>
</body>