
@{
    ViewData["Title"] = "Newgame";
    Layout = "_HomeLayout";
}

<div class="text-center">

    <h1>Creategame!</h1>
    <textarea>Your Name</textarea>
    <button id="StartButton">LETS FUCKIN GO</button>
</div>

<script>
    document.getElementById("StartButton").onclick = function ()
    {
        var http = new XMLHttpRequest();
        var url = 'https://ludogame.azurewebsites.net/api/ludo/createnewgame';
        http.open("POST", url);
        http.send();

        http.onreadystatechange = (e) => {

            // do something with game id
            var gameId = http.response;
            window.location.href = "lobby";
        }
    }
</script>