@model ClientInfo
@{
    ViewData["Title"] = "Newgame";
    Layout = "_HomeLayout";
}

<div class="text-center">

    <p id="GameId:">@Model.gameId</p>
    
    <p id="PlayerName">@Model.Name</p>

</div>