@model WebAppMVC.Models.CreateGameModel
@{
    ViewData["Title"] = "Newgame";
    Layout = "_HomeLayout";
}

<head>
    <title>New game</title>
</head>
<body>
    <!-- Content -->
    <header class="masthead p-5 text-center text-white">
        <div class="masthead-content">
            <div class="container">
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <div class="text-center p-5">

        <form asp-action="CreateGame" asp-controller="Ludo">
            <div>
                <label asp-for="Player1Color"></label>
                <label>Player 1</label>
                <input class="search rounded-pill" asp-for="Player1Name" type="text" placeholder="Please enter your name" />
            </div>
            <div>
                @* this might be the place to add icons for each player.*@
                <label asp-for="Player2Name"></label>
                <label>Player 2</label>
                <input class="search rounded-pill" asp-for="Player2Name" type="text" placeholder="Please enter your name" />
            </div>
            <div>
                <label asp-for="Player3Name"></label>
                <label>Player 3</label>
                <input class="search rounded-pill" asp-for="Player3Name" type="text" placeholder="Please enter your name" />
            </div>
            <div>
                <label asp-for="Player4Name"></label>
                <label>Player 4</label>
                <input class="search rounded-pill" asp-for="Player4Name" type="text" placeholder="Please enter your name" />
            </div>
            <input class="btn btn-primary rounded-pill" type="submit" value="New Game" />
        </form>
    </div>
</body>