
@{
    ViewData["Title"] = "Newgame";
    Layout = "_HomeLayout";
}

<div class="text-center">

    <h1>Creategame!</h1>
    <textarea>Your Name</textarea>
    <button>LETS FUCKIN GO</button>

</div>